<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1>Advanced Datatables <small>advanced datatables</small></h1>
      </div>
      <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a href="#">Data Tables</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <a href="#">Advanced Datatables</a>
      </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-hoki">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-globe"></i>Danh sách người dùng
            </div>
            <div class="tools">
            </div>
          </div>
          <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
            <tr>
              <th>
                 Họ & Tên
              </th>
              <th>
                 Avatar
             </th>
              <th>
                 Email
              </th>
              <th>
                 Sđt
              </th>
              <th>
                 Địa chỉ
              </th>
              <th>
                 Status
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td>
                 {{user.name}}
              </td>
              <td>
                 {{user.avatar}}
             </td>
              <td>
                 {{user.email}}
              </td>
              <td>
                 {{user.phone}}
              </td>
              <td>
                 {{user.address}}
              </td>
              <td>
                 {{user.status}}
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>
    </div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->